.circle {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background: #2196f3;
    border: 1px solid #2196f3;
    display: flex;
    font-size: .8em;
    color: white;
    transition: all .3s ease;
}

.circle:hover {
    font-weight: bold;
}